@tailwind base;
@tailwind components;
@tailwind utilities;


body{
     -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden;
} 
