@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer utilities {
  .font-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
} */
:root{
  
}
body{
     -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden;
} 
